.listitem{
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    transition: all .2s;
    border-bottom: #E1E1DF 1.5px solid;
    display: flex;
    flex-direction: column;

    &:hover{
        background-color: #E1E1DF;
    }

    &__title{
        margin-bottom: 5px;
        font-weight: 600;
    }

    &__block{
        display: flex;
    }

    .block{
        &__time{
            margin-right: 10px;
        }
        &__excerpt{
            // flex: 0 0 80%;
            width: 200px;
            max-width: 70%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .active{
        background-color: #E1E1DF;
    }
}