.sidebar{
    flex: 0 0 20%;
    overflow-y: scroll;
    transition: all .3s;
    background-color: #fafaf8;
    z-index: 2;

    &::-webkit-scrollbar {
        width: 10px; 
    }
    
    &::-webkit-scrollbar-track {
        background-color: #f1f1f1; 
        border-radius: 5px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #888; 
        border-radius: 5px; 
    }
    
    &::-webkit-scrollbar-button {
        display: none; 
    }

    scrollbar-color: #888 #f1f1f1; 
    scrollbar-width: thin; 

    .list{
        &__undefinedels{
            text-align: center;
            padding-top: 15px;
            font-weight: 500;
        }
    }
}

@media (max-width: 954px) {
    .sidebar{
        flex: 0 0 35%;
    }
}

@media (max-width: 596px) {
    .sidebar{
        position: absolute;
        height: calc(100% - 111px);
        width: 240px;
        top: 111px;
        left: -240px;
    }
}